ion-row {
	margin-bottom: 45px;
}

// .userNameLine {
// 	margin-bottom: 5px;
// }

.edit-profile-btn {

	height:27px;
	//padding-bottom:20px 
}

#images {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px; //auto
	max-width: 100%;
	width: 606px;
}

.image {
	margin-left: 2px;
	margin-right: 2px;
}

.main-image, .user-image {
	width: 115px;
	height: 115px;
}